# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/
Dockerfile
components.yaml
localhost-key.pem
sender.sh
Jenkinsfile
localhost.pem
settings.gradle.kts
Makefile
templates
README.md
gradle
test.json
Vagrantfile
gradlew
out
ubuntu-xenial-16.04-cloudimg-console.log
gradlew.bat
persistence
vagrant_setup
build.gradle.kts
internal
run.sh
cover.html
cover.out
